<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<bean id="com.common.dao.BaseJdbcDao" class="com.common.dao.impl.BaseMySqlJdbcDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="com.common.dao.BaseDao" class="com.common.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="com.common.service.BaseService" class="com.common.service.impl.BaseServiceImpl">
		<property name="baseJdbcDao" ref="com.common.dao.BaseJdbcDao" />
		<property name="baseDao" ref="com.common.dao.BaseDao" />
	</bean>

	<bean id="com.common.service.BaseJdbcService" class="com.common.service.impl.BaseJdbcServiceImpl">
		<property name="baseJdbcDao" ref="com.common.dao.BaseJdbcDao" />
	</bean>

	<bean id="com.topsec.tss.service.EmployeeService" class="com.topsec.tss.service.impl.EmployeeServiceImpl"
		parent="com.common.service.BaseService">
	</bean>
	<bean id="com.topsec.tss.service.EmployeeHistoryService" class="com.topsec.tss.service.impl.EmployeeHistoryServiceImpl"
		parent="com.common.service.BaseService">
	</bean>
	<bean id="com.topsec.tss.service.DepartmentService" class="com.topsec.tss.service.impl.DepartmentServiceImpl"
		parent="com.common.service.BaseService">
	</bean>
	<bean id="com.topsec.tss.service.DicService" class="com.topsec.tss.service.impl.DicServiceImpl"
		parent="com.common.service.BaseService">
	</bean>
	<bean id="com.topsec.tss.service.ResumeService" class="com.topsec.tss.service.impl.ResumeServiceImpl"
		parent="com.common.service.BaseService">
		<property name="employeeService" ref="com.topsec.tss.service.EmployeeService"></property>
	</bean>
</beans>