<menu> 
	<!--
		备注:
		1. pcode可以没有,没有则根据'/'获取. 当code和pcode都有的话,可以不用'/'方式进行树关联.
		2. name建议在当前节点中同一级别中不要重复. 其他以外的节点无所谓.(不用担心,一般很少会出错)
	 -->
	
	<entry name="001" src="images/001.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="事件监测" _code="/evt"/>
	<entry name="001001" alias="资源管理 " icon="icon-folder" _code="/evt/res" uri="" />
	<entry name="001001001" alias="IP地址库" icon="icon-leaf" _code="/evt/res/ip" uri="/demo-0.3.0/jsp/web/evt/res/ip/list.html" />
	<entry name="001001002" alias="域名库" icon="icon-leaf" _code="/evt/res/domain" uri="/demo-0.3.0/jsp/web/evt/res/domain/list.html" />
	<entry name="001001003" alias="恶意代码样本库" icon="icon-leaf" _code="/evt/res/code" uri="/demo-0.3.0/jsp/web/evt/res/code/list.html" />
	<entry name="001002" alias="单位管理 " icon="icon-folder" _code="/evt/unit" />
	<entry name="001002001" alias="单位" icon="icon-folder" _code="/evt/unit/unit" />
	<entry name="001002001001" alias="特殊部门" icon="icon-leaf" _code="/evt/unit/unit/1" uri="/demo-0.3.0/jsp/web/evt/unit/list.html" />
	<entry name="001002001002" alias="协作单位" icon="icon-leaf" _code="/evt/unit/unit/2" uri="/demo-0.3.0/jsp/web/evt/unit/list.html" />
	<entry name="001002001003" alias="基础运营商" icon="icon-leaf" _code="/evt/unit/unit/3" uri="/demo-0.3.0/jsp/web/evt/unit/list.html" />
	
	<entry name="001002002" alias="行业" icon="icon-folder" _code="/evt/unit/industry" uri="" />
	<entry name="001002002002" alias="银行" icon="icon-leaf" _code="/evt/unit/industry/2" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002001" alias="铁路" icon="icon-leaf" _code="/evt/unit/industry/1" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002003" alias="海关" icon="icon-leaf" _code="/evt/unit/industry/3" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002004" alias="税务" icon="icon-leaf" _code="/evt/unit/industry/4" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002005" alias="民航" icon="icon-leaf" _code="/evt/unit/industry/5" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002006" alias="电力" icon="icon-leaf" _code="/evt/unit/industry/6" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002007" alias="证券" icon="icon-leaf" _code="/evt/unit/industry/7" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002008" alias="保险" icon="icon-leaf" _code="/evt/unit/industry/8" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002009" alias="政府部门" icon="icon-leaf" _code="/evt/unit/industry/9" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002002010" alias="军队" icon="icon-leaf" _code="/evt/unit/industry/10" uri="/demo-0.3.0/jsp/web/evt/unit/industry/list.html" />
	<entry name="001002003" alias="联系人" icon="icon-leaf" _code="/evt/unit/leakman" uri="" />
	<entry name="001002003001" alias="金融" icon="icon-leaf" _code="/evt/unit/leakman/1" uri="/demo-0.3.0/jsp/web/evt/unit/list_linkman.html" />
	
	<entry name="001003" alias="监测管理 " icon="icon-folder" _code="/evt/jc" uri="" />
	<entry name="001003003" alias="数据汇入" icon="icon-leaf" _code="/evt/jc/in" uri="/demo-0.3.0/jsp/web/data/all/safeoperation/list.html"/>	
	<entry name="001003003001" alias="木马僵尸控制" icon="icon-leaf" _code="/evt/jc/in/1" uri="/demo-0.3.0/jsp/web/evt/jc/all/safeoperation/list_luru.html"/>
	<entry name="001003003002" alias="木马僵尸受控" icon="icon-leaf" _code="/evt/jc/in/2"/>
	<entry name="001003003003" alias="网页篡改" icon="icon-leaf" _code="/evt/jc/in/3"/>
	<entry name="001003003004" alias="网页挂马" icon="icon-leaf" _code="/evt/jc/in/4"/>
	<entry name="001003003005" alias="网页放马" icon="icon-leaf" _code="/evt/jc/in/5"/> 
	<entry name="001003003006" alias="网络蠕虫" icon="icon-leaf" _code="/evt/jc/in/6"/>
	<entry name="001003002" alias="专项保障 " icon="icon-leaf" _code="/evt/jc/baozhang" uri="/demo-0.3.0/jsp/web/evt/jc/baozhang/list.html" />
	<entry name="001004" alias="事件管理 " icon="icon-folder" _code="/evt/evt" uri="" />
	<entry name="001004001" alias="原始事件" icon="icon-leaf" _code="/evt/evt/source" uri="/demo-0.3.0/jsp/web/evt/evt/source/list.html" />
	<entry name="001004002" alias="归并事件" icon="icon-leaf" _code="/evt/evt/merge" uri="/demo-0.3.0/jsp/web/evt/evt/source/list.html" />
	<!--  
	<entry name="001004003" alias="安全事件" icon="icon-leaf" _code="/evt/evt/safe" uri="/demo-0.3.0/jsp/web/evt/evt/source/list.html" />
	-->
	<entry name="002" src="images/002.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="事件处置" _code="/deal"/>
	<entry name="002000" alias="等待确认" icon="icon-folder" _code="/deal/jcgl" uri="/demo-0.3.0/data/treeMonitor.txt" subType="ajaxTree"/>
	<entry name="002001" alias="等待处置" icon="icon-folder" _code="/deal/deal" uri="/demo-0.3.0/data/treeDealA.txt" subType="ajaxTree" />
	<entry name="002002" alias="等待反馈" icon="icon-folder" _code="/deal/feedback" uri="/demo-0.3.0/data/treeDealB.txt" subType="ajaxTree"/>
	<entry name="002004" alias="处置完毕" icon="icon-folder" _code="/deal/finish" uri="/demo-0.3.0/data/treeDealD.txt" subType="ajaxTree"/>
	<!--  <entry name="002005" alias="处置案例" icon="icon-folder" _code="/deal/case" />
	<entry name="002005001" alias="处置完毕" icon="icon-leaf" _code="/deal/case/list" uri="/demo-0.3.0/jsp/web/deal/case/list.html"/>
	-->
	<entry name="003" src="images/003.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="预警通报" _code="/earn"/>
	<entry name="003001" alias="通报素材" icon="icon-folder" _code="/earn/res" />
	<entry name="003001001" alias="月度统计" icon="icon-leaf" _code="/earn/res/cnt" uri="/demo-0.3.0/jsp/web/earn/res/cnt/list.html" />
	<entry name="003001002" alias="安全新闻" icon="icon-leaf" _code="/earn/res/new" uri="/demo-0.3.0/jsp/web/earn/res/new/list.html" />
	<entry name="003001003" alias="安全漏洞" icon="icon-leaf" _code="/earn/res/leak" uri="/demo-0.3.0/jsp/web/earn/res/leak/list.html" />
	<entry name="003001004" alias="月度汇总" icon="icon-leaf" _code="/earn/res/huizong" uri="/demo-0.3.0/jsp/web/earn/res/huizong/list.html" />
	<entry name="003002" alias="通报任务" icon="icon-folder" _code="/earn/task" />
	<entry name="003002002" alias="模板" icon="icon-leaf" _code="/earn/task/2" uri="/demo-0.3.0/jsp/web/earn/task/template/list.html" />
	<entry name="003002001" alias="任务" icon="icon-leaf" _code="/earn/task/1" uri="/demo-0.3.0/jsp/web/earn/task/task/list.html" />
	
	<entry name="003003" alias="通报文档" icon="icon-folder" _code="/earn/doc" uri="" />
	<entry name="003003001" alias="文档存储" icon="icon-folder" _code="/earn/doc/save" uri="" />
	<entry name="003003001001" alias="信息通报" icon="icon-leaf" _code="/earn/doc/save/1" uri="/demo-0.3.0/jsp/web/earn/doc/list.html" />
	<entry name="003003001002" alias="地方通报" icon="icon-leaf" _code="/earn/doc/save/2" uri="" />
	<entry name="003003001003" alias="安全预警" icon="icon-leaf" _code="/earn/doc/save/3" uri="" />
	<entry name="003003001004" alias="动态周报" icon="icon-leaf" _code="/earn/doc/save/4" uri="" />
	<entry name="003003001005" alias="服务通报" icon="icon-leaf" _code="/earn/doc/save/5" uri="" />
	<entry name="003003001006" alias="行业通报" icon="icon-leaf" _code="/earn/doc/save/6" uri="" />
	<entry name="003003001007" alias="其它通报" icon="icon-leaf" _code="/earn/doc/save/7" uri="" />
	<entry name="003003002" alias="发布情况" icon="icon-leaf" _code="/earn/doc/publish" uri="/demo-0.3.0/jsp/web/earn/count/list.html" />
	<entry name="003003002" alias="对外同步" icon="icon-leaf" _code="/earn/doc/syno" uri="/demo-0.3.0/jsp/web/earn/doc/syno.html" />
	<!--  <entry name="003004" alias="通报统计" icon="icon-folder" _code="/earn/cnt" uri="" />
	<entry name="003004001" alias="发布情况" icon="icon-leaf" _code="/earn/cnt/info" uri="/demo-0.3.0/jsp/web/earn/count/list.html" />
	-->
	<entry name="004" src="images/004.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="业务考核" _code="/oper"/>
	<entry name="004001" alias="月度工作报表" icon="icon-folder" _code="/oper/work" />
	<entry name="004001001" alias="服务拓展" icon="icon-leaf" _code="/oper/work/1" uri="/demo-0.3.0/jsp/web/oper/work/list.html" />
	<entry name="004001002" alias="特殊部门合作" icon="icon-leaf" _code="/oper/work/2" uri="" />
	<entry name="004001003" alias="专项处置" icon="icon-leaf" _code="/oper/work/3" uri="" />
	<entry name="004001004" alias="日常处置" icon="icon-leaf" _code="/oper/work/4" uri="" />
	<entry name="004001005" alias="自主监测" icon="icon-leaf" _code="/oper/work/5" uri="" />
	<entry name="004001006" alias="手段建设" icon="icon-leaf" _code="/oper/work/6" uri="" />
	<entry name="004001007" alias="处置工作体系" icon="icon-leaf" _code="/oper/work/7" uri="" />
	<entry name="004001008" alias="通报成员拓展" icon="icon-leaf" _code="/oper/work/8" uri="" />
	<entry name="004001008" alias="其他工作" icon="icon-leaf" _code="/oper/work/9" uri="" />
	<entry name="004002" alias="监测周报" icon="icon-folder" _code="/oper/week" />
	<entry name="004002001" alias="周报" icon="icon-leaf" _code="/oper/week/week"  uri="/demo-0.3.0/jsp/web/oper/week/list.html"/>
	
	<entry name="005" src="images/005.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="协作共享" _code="/share"/>
	<entry name="005001" alias="信息下发" icon="icon-folder"  _code="/share/shang"></entry>
	<entry name="005001001001" alias="协作单位1" icon="icon-leaf"  _code="/share/shang/1" uri="/demo-0.3.0/jsp/web/share/shang/list.html"></entry>
	<entry name="005001001002" alias="协作单位2" icon="icon-leaf"  _code="/share/shang/2"></entry>
	<entry name="005001001002" alias="特殊单位1" icon="icon-leaf"  _code="/share/shang/3"></entry>
	<entry name="005001001002" alias="特殊单位2" icon="icon-leaf"  _code="/share/shang/4"></entry>
	<entry name="005002" alias="信息上报" icon="icon-folder"  _code="/share/xia"></entry>
	<entry name="005002001" alias="特殊单位1" icon="icon-leaf"  _code="/share/xia/1" uri="/demo-0.3.0/jsp/web/share/xia/list.html"></entry>
	<entry name="005002002" alias="特殊单位2" icon="icon-leaf"  _code="/share/xia/2" ></entry>
	
	<entry name="006" src="images/006.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="联动分析" _code="/analisys"/>
	
	<entry name="007" src="images/007.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="系统维护" _code="/sys"/>
	<entry name="007001" alias="权限管理" icon="icon-folder" _code="/sys/auth"/>
	<entry name="007001001" alias="用户" icon="icon-leaf"  _code="/sys/auth/user" uri="/demo-0.3.0/jsp/web/sys/auth/list_user.html"></entry>
	<entry name="007001002" alias="角色" icon="icon-leaf"  _code="/sys/auth/role" uri="/demo-0.3.0/jsp/web/sys/auth/list_role.html"></entry>
	<entry name="007002" alias="审计管理" icon="icon-folder" _code="/sys/audit"/>
	<entry name="007002001" alias="审计管理" icon="icon-leaf"  _code="/sys/audit/xxx" uri="/demo-0.3.0/jsp/web/sys/audit/list.html"></entry>
	<entry name="007003" alias="备份恢复" icon="icon-folder" _code="/sys/backup"/>
	<entry name="007003001" alias="备份恢复" icon="icon-leaf"  _code="/sys/backup/xxx" uri="/demo-0.3.0/jsp/web/sys/backup/list.html"></entry>
	
	<entry name="008" src="images/008.png" uri="/demo-0.3.0/menu.do?cmd=center" alias="外部门户" _code="/net"/>
	<entry name="008001" alias="安全状态" icon="icon-folder" _code="/net/state" />
	<entry name="008002" alias="安全事件" icon="icon-folder" _code="/net/evt"/>
	<entry name="008002001" alias="我的事件" icon="icon-folder"  _code="/net/evt/in" ></entry>
	<entry name="008002001001" alias="待反馈" icon="icon-leaf"  _code="/net/evt/in/1" uri="/demo-0.3.0/jsp/web/net/evt/list_3.html"></entry>
	<entry name="008002001002" alias="已反馈" icon="icon-leaf"  _code="/net/evt/in/2" uri="/demo-0.3.0/jsp/web/net/evt/list_4.html"></entry>
	<entry name="008002001003" alias="已关闭" icon="icon-leaf"  _code="/net/evt/in/3" uri="/demo-0.3.0/jsp/web/net/evt/list_5.html"></entry>
	<entry name="008002002" alias="共享事件" icon="icon-folder"  _code="/net/evt/out"></entry>
	<entry name="008002002001" alias="共享申请" icon="icon-leaf"  _code="/net/evt/out/share" uri="/demo-0.3.0/jsp/web/net/evt/list_share.html"></entry>
	<entry name="008003" alias="安全通报" icon="icon-folder" _code="/net/report"/>
	<entry name="008003001" alias="我的通报" icon="icon-folder"  _code="/net/report/1" uri="/demo-0.3.0/jsp/web/net/report/list.html"></entry>
	<entry name="008004" alias="安全信息" icon="icon-folder" _code="/net/info"/>
	<entry name="008004001" alias="恶意域名 " icon="icon-leaf"  _code="/net/info/1" uri="/demo-0.3.0/jsp/web/net/info/list.html"></entry>
	<entry name="008004002" alias="恶意IP " icon="icon-leaf"  _code="/net/info/2" uri=""></entry>
	<entry name="008004003" alias="恶意代码 " icon="icon-leaf"  _code="/net/info/3" uri=""></entry>
	<entry name="008004004" alias="安全漏洞 " icon="icon-leaf"  _code="/net/info/4" uri=""></entry>
	<entry name="008004005" alias="安全新闻  " icon="icon-leaf"  _code="/net/info/5" uri=""></entry>
	<entry name="008006" alias="信息报送" icon="icon-folder" _code="/net/bs"/>
	<entry name="008006001"  icon="icon-leaf" alias="月度汇总信息" _code="/net/bs/a1" uri="/demo-0.3.0/jsp/web/net/bs/huizong/list.html"/>
	<entry name="008006002"  icon="icon-leaf" alias="事件信息" _code="/net/bs/a2" uri="/demo-0.3.0/jsp/web/net/bs/evt/list.html"/>
	<entry name="008006003"  icon="icon-leaf" alias="预警信息" _code="/net/bs/a2" uri="/demo-0.3.0/jsp/web/net/bs/yujing/list.html"/>
	<entry name="008006004"  icon="icon-leaf" alias="通用信息" _code="/net/bs/a3" uri="/demo-0.3.0/jsp/web/net/bs/tongyong/list.html"/>
	<entry name="008005" alias="共享申请" icon="icon-folder" _code="/net/req"/>
	<entry name="008005001" alias="安全事件" icon="icon-leaf" _code="/net/req/list" uri="/demo-0.3.0/jsp/web/net/req/list.html"/>
	<entry name="008005001" alias="流数据" icon="icon-leaf" _code="/net/req/list" uri="/demo-0.3.0/jsp/web/net/req/list_flow.html"/>
	
</menu>